/* ::: BASE STYLES ::: */
* {
    box-sizing: border-box;
}
body {
    font-family: 'Merriweather', serif;
}
header {
    display: flex;
    background-color: #002f2f;
    justify-content: center;
}
h2 {
    font-size: 1.2rem;
    font-weight: 800;
    color: #002f2f;
}
legend {
    font-size: 1.2rem;
    font-weight: 800;
    color: #002f2f;
    padding-top: 1.5rem;
}
form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}
fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
}
label {
    font-size: 0.9rem;
    color: #516969;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
input,
select {
    border: none;
    border-radius: 4px;
    background-color: #E6E6E6;
    margin: 0.3rem 0;
    padding: 1rem 0.7rem;
    transition: background-color 2s;
}    
p {
    font-size: 0.9rem;
    color: #002f2f;
}
textarea {
    resize: none;
    border: none;
    border-radius: 4px;
    background-color: #E6E6E6;
    margin: .4rem 0 .7rem 0;
    padding: 1rem 0.7rem;
    transition: background-color 2s;
}
/* ::: ID SELECTORS ::: */
#logo {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: white;
    padding: 7px 0 7px 0;
}
#intro {
    text-align: center;
    margin-top: 1.6rem;
    margin-bottom: 10px;
}
#zip-code {
    width: 40%;
    margin-bottom: 2rem;
}
input[type="checkbox"] {
    margin-right: 7px;
}
input[type="submit"] {
    background-color: #35dea3;
    color: white;
    font-size: 1.2rem;
    font-weight: 800;
}
option[default] {
    color: #002f2f;
}
/*  ::: CLASS SELECTORS :::  */
.marginalija {
    font-size: 0.9rem;
    text-align: center;
    color: #9da3a8;
    padding: 0 25px 0 25px;
    margin: 0px;
    margin-bottom: 1.5rem;
}
.selection-options {
    margin: 10px 0;
}
.input-option {
    display: flex;
    flex-direction: column;
}
.copyright {
    font-size: 0.7rem;
    font-style: italic;
    color: #516969;
    margin-top: 1rem;
    margin-bottom: 6rem;
    text-align: center;
}
.divider-1 {
    border: 3px solid #002f2f;
    text-align: center;
    margin: 0 0 4px 0;
}
.divider-2 {
    border: 1px solid #002f2f;
    margin: 0 0 2px 0;
}
/*  ::: PSEUDO CLASSES :::  */
textarea:focus,
select:focus,
input:focus {
    border: 2px solid #4d876d;
    border-radius: 4px;
    outline: none;
}
/*  ::: PSEUDO ELEMENTS :::  */
::placeholder {
    font-size: 0.9rem;
    font-style: italic;
    text-align: right;
    padding-right: 25px;
    color: #516969;
}
/*  ::: TRANSITION AND ANIMATION :::  */
input:focus,
select:focus,
textarea:focus {
    background-color: #F3F3F3;
}



/*  ::: MEDIA QUERY :::  */
/*  ::: MEDIA QUERY :::  */
/*  ::: MEDIA QUERY :::  */



@media (min-width: 768px) {
    /* ::: BASE STYLES ::: */
    main {
        width: 700px;
        margin: 0 auto;
    }
    h2 {
        margin: 3rem 0 1.5rem 0;
    }
    input[type="submit"] {
        padding: 25px;
        margin: .25rem 0;
    }
    /* ::: ID SELECTORS ::: */
    #intro {
        margin-top: 3rem;
    }
    #zip-code {
        width: 200px;
        margin-bottom: 3rem;
    }
    /*  ::: CLASS SELECTORS :::  */
    .marginalija {
        margin-bottom: 3rem;
    }
    .input-option {
        flex-direction: row;
        margin: .25rem 0;
    }
    select,
    input:not(#zip-code) {
        flex-grow: 1;
    }
    textarea {
        height: 120px;
    }
    /*  ::: DESCENDANT SELECTORS :::  */
    .input-option label {
        font-size: 1.125rem;
        font-weight: 800;
        width: 200px;
        max-width: 200px;
    }
    /*  ::: PSEUDO CLASSES :::  */
    /*  ::: PSEUDO ELEMENTS :::  */
}


/*

TO DO 
• Uredi Newsletter predel desktop viewa :) 

*/